#include <windows.h>
#define IDD_TEST 100
IDD_TEST DIALOGEX 0, 0, 200, 100
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test"
FONT 9, "MS Shell Dlg 2"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 70, 80, 60, 14
END
